#award{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: url(../img/award.jpg) no-repeat left top;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    .awardBox{
        width: 84.93%;
        margin: 0 auto;
        position: relative;
        >img{
            width: 100%;
        }
        .awardGift{
            width: 86%;
            position: absolute;
            top: 6.65%;
            left: 7.12%;
            >img{
                width: 100%;
            }
        }
        .start{
            width: 24.02%;
            position: absolute;
            top: 32.4%;
            left: 38.2%;
            >img{
                width: 100%;
            }
        }
    }
}
.awardTitle{
    width: 63.07%;
    margin-bottom: 0.4rem;
    position: relative;
    >div{
        position: absolute;
        top: -8%;
        left: 32.5%;
        width: 12%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: -webkit-flex;
        -webkit-align-items: center;
        -webkit-justify-content: center;
        -webkit-flex-direction: column;
    }
    p{
        font-size: 0.36rem;
        color: #f6d67c;
        font-weight: bold;
    }
    >img{
        width: 100%;
    }
}
.awardBtn{
    width: 42.13%;
    margin-top: 0.6rem;
    a{
        display: block;
        >img{
            width: 100%;
        }
    }
}
.rback {
    position: absolute;
    width: 19.2%;
    left: 3.8%;
    top: 1.5%;
    display: block;
    >img {
        width: 100%;
    }
}
#gpop{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    background-color: rgba(0,0,0,0.7);
    .gpopBox{
        width: 80%;
        position: relative;
        >img{
            width: 100%;
        }
        button{
            position: absolute;
            top: 82%;
            left: 30%;
            width: 40%;
            height: 12%;
            opacity: 0;
        }
        .wx1,.jf{
            position: absolute;
            top:13%;
            left: 0;
            width: 100%;
            font-size: 0.32rem;
            text-align: center;
            color: #f5d58b;
        }
        .wx2{
            position: absolute;
            top:28%;
            left: 0;
            width: 100%;
            font-size: 0.7rem;
            text-align: center;
            color: #d92501;
        }
    }
    
}
.newPop{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    background-color: rgba(0,0,0,0.7);
}
.newPop3{
    width: 80%;
    position: relative;
    
    >img{
        width: 100%;
    }
    input{
        position: absolute;
        top: 12.62%;
        left: 26%;
        height: 6.6%;
        width: 62%;
        border: 0;
        font-size: 0.26rem;
        background-color: transparent;
        color: #f0e26f;
        opacity: 0.8;
    }
    textarea{
        position: absolute;
        top: 44%;
        left: 37%;
        height: 12%;
        width: 52%;
        border: 0;
        font-size: 0.26rem;
        color: #f0e26f;
        resize: none;
        background-color: transparent;
    }
    
    input:nth-child(2){
        top: 22.45%;
    }
    input:nth-child(3){
        top: 32.48%;
        left: 31%;
    }
    textarea::-moz-placeholder{
        color: #f0e26f;
    }
    textarea::-webkit-input-placeholder{
        color: #f0e26f;
    }
    textarea::-ms-input-placeholder{
        color: #f0e26f;
    }
    textarea:nth-child(5){
        left: 26%;
        top: 60.4%;
        width: 64%;
        height: 13%;
    }
    input::-moz-placeholder{
        color: #f0e26f;
    }
    input::-webkit-input-placeholder{
        color: #f0e26f;
    }
    input::-ms-input-placeholder{
        color: #f0e26f;

    }
    button{
        position: absolute;
        top: 86%;
        left: 7%;
        width: 41%;
        height: 9%;
        opacity: 0;
    }
    .np3No{
        left: 52%;
    }
}
.newPop2{
    width: 80%;
    position: relative;
    >img{
        width: 100%;
    }
    button{
        position: absolute;
        top: 82%;
        left: 7%;
        width: 41%;
        height: 11%;
        opacity: 0;
    }
    .npNo{
        left: 52%;
    }
}
#upSuccess{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    background: url(../img/sg05.jpg) no-repeat left top;
    background-size: 100% 100%;
    .upSuccess{
        position: relative;
        width: 60.4%;
        >img{
            width: 100%;
        }
        button{
            position: absolute;
            bottom: 0;
            left: 18%;
            width: 68%;
            height: 17%;
        }
    }
}
#pop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;    
    .pop3{
        width: 80.27%;
        position: relative;
        >img{
            width: 100%;
        }
        button{
           position: absolute;
            top: 82%;
            left: 30%;
            height: 12%;
            width: 40%;
            opacity: 0;
        }
        .popP{
            position: absolute;
            top: 61%;
            left: 10%;
            width: 80%;
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: -webkit-flex;
            -webkit-align-items: center;
            -webkit-justify-content: center;
            -webkit-flex-direction: column;
        }
        p{
            font-size: 0.22rem;
            color: #f6d67d;
            text-align: center;
        }
    }
}