#myGift {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  background: url(../img/mg03.jpg) no-repeat;
  background-size: 100% 100%; }
  #myGift .jifen {
    position: absolute;
    width: 28.4%;
    right: 3.8%;
    top: 1.5%; }
    #myGift .jifen > div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      display: -webkit-flex;
      -webkit-align-items: center;
      -webkit-justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      #myGift .jifen > div p {
        width: 60%;
        font-size: 0.3rem;
        color: #f6d67d;
        margin-left: 22%;
        text-align: center; }
    #myGift .jifen > img {
      width: 100%; }
  #myGift .mg01 {
    width: 42.4%;
    position: absolute;
    left: 28.8%;
    top: 11.6%; }
    #myGift .mg01 > img {
      width: 100%; }
  #myGift .mg02 {
    width: 85%;
    position: absolute;
    left: 7.5%;
    top: 26.1%;
    border-radius: 5px;
    border: 1px solid #f8db82;
    height: 0.7rem;
    overflow: hidden; }
    #myGift .mg02 button {
      display: block;
      width: 50%;
      height: 100%;
      background-color: #ab3e28;
      color: #f8db82;
      font-size: 0.32rem;
      font-weight: bold; }
    #myGift .mg02 .btnhas {
      background-color: #f8db82;
      color: #ab3e28; }
  #myGift .mg03 {
    position: absolute;
    left: 0;
    top: 19.49%;
    width: 100%; }
    #myGift .mg03 p {
      width: 100%;
      text-align: center;
      font-size: 0.24rem;
      color: #f8db81;
      text-indent: 0.1rem; }
  #myGift .noGift {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center; }
    #myGift .noGift > img {
      width: 60%; }
    #myGift .noGift p {
      font-size: 0.32rem;
      color: #f8db82;
      line-height: 0.5rem; }
  #myGift .shopBox {
    width: 85%;
    position: absolute;
    left: 7.5%;
    top: 35.4%;
    height: 54%;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch; }
    #myGift .shopBox .shopChild {
      width: 100%;
      position: relative;
      margin-left: 1px;
      margin-bottom: 0.1rem; }
      #myGift .shopBox .shopChild > img {
        width: 100%; }
    #myGift .shopBox .shopImg {
      position: absolute;
      top: 5.7%;
      left: 3%;
      width: 34.8%;
      height: 87%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      display: -webkit-flex;
      -webkit-align-items: center;
      -webkit-justify-content: center; }
      #myGift .shopBox .shopImg > img {
        max-width: 90%;
        max-height: 90%; }
    #myGift .shopBox .stenBox {
      position: absolute;
      top: 5.7%;
      left: 43%;
      width: 40%;
      height: 87%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      display: -webkit-flex;
      -webkit-align-items: center;
      -webkit-justify-content: center; }
      #myGift .shopBox .stenBox p {
        width: 100%;
        color: #c72d27;
        font-size: 0.22rem; }
      #myGift .shopBox .stenBox p:nth-child(1) {
        font-size: 0.28rem;
        font-weight: bold;
        line-height: 0.5rem; }
    #myGift .shopBox button {
      position: absolute;
      top: 5.7%;
      right: 0%;
      width: 16%;
      height: 87%;
      display: block;
      opacity: 0; }
  #myGift .giftBox {
    width: 85%;
    position: absolute;
    left: 7.5%;
    top: 35.4%;
    height: 54%;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch; }
    #myGift .giftBox .giftChild {
      width: 104%;
      position: relative;
      margin-left: -2%; }
      #myGift .giftBox .giftChild > img {
        width: 100%; }
    #myGift .giftBox .imgBox {
      position: absolute;
      top: 5.5%;
      left: 3.2%;
      width: 25.64%;
      height: 75%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      display: -webkit-flex;
      -webkit-align-items: center;
      -webkit-justify-content: center; }
      #myGift .giftBox .imgBox > img {
        max-width: 90%;
        max-height: 90%; }
    #myGift .giftBox .ctenBox {
      position: absolute;
      top: 5.5%;
      left: 33.5%;
      width: 40%;
      height: 75%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      display: -webkit-flex;
      -webkit-align-items: center;
      -webkit-justify-content: center; }
      #myGift .giftBox .ctenBox p {
        width: 100%;
        color: #c72d27; }
      #myGift .giftBox .ctenBox p:nth-child(1) {
        font-size: 0.28rem; }
      #myGift .giftBox .ctenBox p:nth-child(2) {
        font-size: 0.18rem; }
    #myGift .giftBox button {
      position: absolute;
      top: 5.5%;
      right: 2%;
      width: 22%;
      height: 75%;
      display: block;
      opacity: 0; }

.rback {
  position: absolute;
  width: 19.2%;
  left: 3.8%;
  top: 1.5%;
  display: block; }
  .rback > img {
    width: 100%; }

#myGift .shopBox .hasShop .stenBox p {
  color: #948b6d; }

.newPop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  background-color: rgba(0, 0, 0, 0.7); }

.newPop8 {
  width: 80%;
  position: relative; }
  .newPop8 > img {
    width: 100%; }
  .newPop8 button {
    position: absolute;
    top: 82%;
    left: 7%;
    width: 41%;
    height: 11%;
    opacity: 0; }
  .newPop8 .np8No {
    left: 52%; }

.newPop7 {
  width: 80%;
  position: relative; }
  .newPop7 > img {
    width: 100%; }
  .newPop7 .np7Box {
    position: absolute;
    width: 100%;
    height: 67%;
    left: 0;
    top: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center; }
    .newPop7 .np7Box > img {
      max-width: 50%;
      max-height: 70%; }
    .newPop7 .np7Box p {
      text-align: center;
      font-size: 0.26rem;
      color: #f0e26f; }
  .newPop7 button {
    position: absolute;
    top: 82%;
    left: 30%;
    width: 40%;
    height: 12%;
    opacity: 0; }

.newPop6 {
  width: 80%;
  position: relative; }
  .newPop6 > img {
    width: 100%; }
  .newPop6 button {
    position: absolute;
    top: 82%;
    left: 30%;
    width: 40%;
    height: 12%;
    opacity: 0; }
  .newPop6 .npNo {
    left: 52%; }

.newPop5 {
  width: 80%;
  position: relative; }
  .newPop5 > img {
    width: 100%; }
  .newPop5 button {
    position: absolute;
    top: 82%;
    left: 8%;
    width: 40%;
    height: 12%;
    opacity: 0; }
  .newPop5 .np5No {
    left: 52%; }

.newPop4 {
  width: 80%;
  position: relative; }
  .newPop4 > img {
    width: 100%; }
  .newPop4 input {
    position: absolute;
    top: 13.8%;
    left: 26%;
    height: 6.6%;
    width: 62%;
    border: 0;
    font-size: 0.26rem;
    background-color: transparent;
    color: #f0e26f;
    opacity: 0.8; }
  .newPop4 textarea {
    position: absolute;
    top: 47.5%;
    left: 37%;
    height: 12%;
    width: 52%;
    border: 0;
    font-size: 0.26rem;
    color: #f0e26f;
    resize: none;
    background-color: transparent; }
  .newPop4 input:nth-child(2) {
    top: 24.6%; }
  .newPop4 input:nth-child(3) {
    top: 35.4%;
    left: 31%; }
  .newPop4 textarea::-moz-placeholder {
    color: #f0e26f;
    opacity: 0.8; }
  .newPop4 textarea::-webkit-input-placeholder {
    color: #f0e26f;
    opacity: 0.8; }
  .newPop4 textarea::-ms-input-placeholder {
    color: #f0e26f;
    opacity: 0.8; }
  .newPop4 textarea:nth-child(5) {
    left: 26%;
    top: 65.3%;
    width: 64%;
    height: 13%; }
  .newPop4 input::-moz-placeholder {
    color: #f0e26f;
    opacity: 0.8; }
  .newPop4 input::-webkit-input-placeholder {
    color: #f0e26f;
    opacity: 0.8; }
  .newPop4 input::-ms-input-placeholder {
    color: #f0e26f;
    opacity: 0.8; }
  .newPop4 button {
    position: absolute;
    top: 84.5%;
    left: 7%;
    width: 41%;
    height: 9%;
    opacity: 0; }
  .newPop4 .np4No {
    left: 52%; }

.newPop3 {
  width: 80%;
  position: relative; }
  .newPop3 > img {
    width: 100%; }
  .newPop3 input {
    position: absolute;
    top: 12.62%;
    left: 26%;
    height: 6.6%;
    width: 62%;
    border: 0;
    font-size: 0.26rem;
    background-color: transparent;
    color: #f0e26f;
    opacity: 0.8; }
  .newPop3 textarea {
    position: absolute;
    top: 44%;
    left: 37%;
    height: 12%;
    width: 52%;
    border: 0;
    font-size: 0.26rem;
    color: #f0e26f;
    resize: none;
    background-color: transparent; }
  .newPop3 input:nth-child(2) {
    top: 22.45%; }
  .newPop3 input:nth-child(3) {
    top: 32.48%;
    left: 31%; }
  .newPop3 textarea::-moz-placeholder {
    color: #f0e26f;
    opacity: 0.8; }
  .newPop3 textarea::-webkit-input-placeholder {
    color: #f0e26f;
    opacity: 0.8; }
  .newPop3 textarea::-ms-input-placeholder {
    color: #f0e26f;
    opacity: 0.8; }
  .newPop3 textarea:nth-child(5) {
    left: 26%;
    top: 60.5%;
    width: 64%;
    height: 13%; }
  .newPop3 input::-moz-placeholder {
    color: #f0e26f;
    opacity: 0.8; }
  .newPop3 input::-webkit-input-placeholder {
    color: #f0e26f;
    opacity: 0.8; }
  .newPop3 input::-ms-input-placeholder {
    color: #f0e26f;
    opacity: 0.8; }
  .newPop3 button {
    position: absolute;
    top: 86%;
    left: 7%;
    width: 41%;
    height: 9%;
    opacity: 0; }
  .newPop3 .np3No {
    left: 52%; }

.newPop2 {
  width: 80%;
  position: relative; }
  .newPop2 > img {
    width: 100%; }
  .newPop2 button {
    position: absolute;
    top: 82%;
    left: 7%;
    width: 41%;
    height: 11%;
    opacity: 0; }
  .newPop2 .npNo {
    left: 52%; }

.newPop1 {
  width: 80%;
  position: relative; }
  .newPop1 > p {
    font-size: 0.24rem;
    color: #ecd68b;
    position: absolute;
    top: 26%;
    left: 26%; }
  .newPop1 > p:nth-child(1) {
    top: 15.2%; }
  .newPop1 > p:nth-child(2) {
    top: 26%; }
  .newPop1 > p:nth-child(3) {
    top: 36.8%;
    left: 32%; }
  .newPop1 > p:nth-child(4) {
    width: 53%;
    text-align: justify;
    top: 47.8%;
    left: 37%; }
  .newPop1 .msg {
    width: 63%;
    position: absolute;
    left: 27%;
    top: 65.54%;
    height: 13%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; }
    .newPop1 .msg p {
      width: 100%;
      font-size: 0.24rem;
      color: #ecd68b;
      text-align: justify; }
  .newPop1 > img {
    width: 100%; }
  .newPop1 button {
    position: absolute;
    width: 40%;
    height: 10%;
    top: 84%;
    left: 30%;
    opacity: 0; }

#tips {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  background-color: rgba(0, 0, 0, 0.7); }
  #tips > .tips {
    position: relative;
    width: 73.86%; }
    #tips > .tips > img {
      width: 100%; }
  #tips button {
    position: absolute;
    bottom: 0;
    left: 29.5%;
    width: 38%;
    height: 7%; }

#share {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.75); }
  #share .sa {
    width: 23%;
    position: absolute;
    top: 4%;
    right: 4%; }
    #share .sa > img {
      width: 100%; }
  #share .gift {
    width: 79.2%;
    margin: 0 auto;
    margin-top: 32%; }
    #share .gift img {
      width: 100%; }
  #share .star {
    width: 36%;
    position: absolute;
    top: 17%;
    left: 7.5%;
    animation: bling 1s linear infinite;
    -moz-animation: bling 1s linear infinite;
    -webkit-animation: bling 1s linear infinite;
    -ms-animation: bling 1s linear infinite; }
    #share .star > img {
      width: 100%; }

@keyframes bling {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
@-moz-keyframes bling {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
@-webkit-keyframes bling {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
@-ms-keyframes bling {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
#pop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-flex-direction: column; }
  #pop .pop3 {
    width: 80.27%;
    position: relative; }
    #pop .pop3 > img {
      width: 100%; }
    #pop .pop3 button {
      position: absolute;
      top: 82%;
      left: 30%;
      height: 12%;
      width: 40%;
      opacity: 0; }
    #pop .pop3 .popP {
      position: absolute;
      top: 61%;
      left: 10%;
      width: 80%;
      height: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      display: -webkit-flex;
      -webkit-align-items: center;
      -webkit-justify-content: center;
      -webkit-flex-direction: column; }
    #pop .pop3 p {
      font-size: 0.22rem;
      color: #f6d67d;
      text-align: center; }

#gOver {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-flex-direction: column; }
  #gOver > .gOver {
    position: relative;
    width: 80.27%; }
    #gOver > .gOver > img {
      width: 100%; }
  #gOver button {
    position: absolute;
    bottom: 6%;
    left: 30%;
    width: 40%;
    height: 14%; }

#changeOver {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-flex-direction: column; }
  #changeOver > .changeOver {
    position: relative;
    width: 80.27%; }
    #changeOver > .changeOver > img {
      width: 100%; }
  #changeOver button {
    position: absolute;
    bottom: 6%;
    left: 9%;
    width: 40%;
    height: 13%; }
  #changeOver .cancel {
    left: 51%; }

#shareSuccess {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-flex-direction: column; }
  #shareSuccess > .shareSuccess {
    position: relative;
    width: 40.67%; }
    #shareSuccess > .shareSuccess > img {
      width: 100%; }
  #shareSuccess button {
    position: absolute;
    bottom: 0%;
    left: 5%;
    width: 80%;
    height: 13%; }

#qiandao {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  -webkit-flex-direction: column; }
  #qiandao > .qiandao {
    width: 82.06%;
    position: relative; }
    #qiandao > .qiandao > div > img {
      width: 100%; }
    #qiandao > .qiandao button {
      position: absolute;
      bottom: 10%;
      width: 30%;
      left: 35%;
      height: 10%; }
    #qiandao > .qiandao > img {
      position: absolute;
      width: 6.15%;
      left: 21%;
      top: 24.5%; }
    #qiandao > .qiandao > img:nth-child(2) {
      left: 43.5%; }
    #qiandao > .qiandao > img:nth-child(3) {
      left: 66.5%; }
    #qiandao > .qiandao > img:nth-child(4) {
      left: 89.5%; }
    #qiandao > .qiandao > img:nth-child(5) {
      left: 32.5%;
      top: 48.5%; }
    #qiandao > .qiandao > img:nth-child(6) {
      left: 55.5%;
      top: 48.5%; }
    #qiandao > .qiandao > img:nth-child(7) {
      left: 78.5%;
      top: 48.5%; }

#homepage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: url(../image/game06.jpg) no-repeat left bottom;
  background-size: 100% 100%; }
  #homepage .logo {
    width: 29.2%;
    position: absolute;
    left: 3.6%;
    top: 1.32%; }
    #homepage .logo > img {
      width: 100%; }
  #homepage .mygifts {
    width: 25.6%;
    position: absolute;
    right: 2.53%;
    top: 0%; }
    #homepage .mygifts > img {
      width: 100%; }
  #homepage .gameTitle {
    position: absolute;
    top: 9%;
    left: 0;
    width: 100%; }
    #homepage .gameTitle > img {
      width: 100%; }
  #homepage .startBtn {
    width: 40%;
    display: block;
    position: absolute;
    left: 30%;
    top: 59.12%; }
    #homepage .startBtn > img {
      width: 100%; }
  #homepage .cgBox {
    position: absolute;
    right: 7.73%;
    bottom: 13.6%;
    width: 39.07%; }
    #homepage .cgBox > img {
      width: 100%; }
    #homepage .cgBox > div {
      position: absolute;
      height: 100%;
      font-size: 0.3rem;
      color: white;
      top: 0;
      right: 0%;
      text-align: center;
      width: 56%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      display: -webkit-flex;
      -webkit-align-items: center;
      -webkit-justify-content: center;
      -webkit-flex-direction: column; }
  #homepage .jfbox {
    position: absolute;
    left: 7.73%;
    bottom: 13.6%;
    width: 40.53%; }
    #homepage .jfbox > img {
      width: 100%; }
    #homepage .jfbox > div {
      position: absolute;
      height: 100%;
      font-size: 0.3rem;
      color: white;
      top: 0;
      right: 0%;
      text-align: center;
      width: 56%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      display: -webkit-flex;
      -webkit-align-items: center;
      -webkit-justify-content: center;
      -webkit-flex-direction: column; }
  #homepage .dm {
    position: absolute;
    left: 7.73%;
    bottom: 5.14%;
    width: 84.67%; }
    #homepage .dm > img {
      width: 100%; }
    #homepage .dm #danmu {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden; }

#danmu .danmu {
  margin-right: 30px;
  border-radius: 0.3rem;
  line-height: 0.6rem;
  font-size: 0.26rem;
  color: white;
  position: relative; }
  #danmu .danmu p {
    padding: 0 0.1rem 0 0.1rem; }
  #danmu .danmu .head {
    display: none;
    position: absolute;
    top: -0.1rem;
    left: 0;
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    overflow: hidden; }
    #danmu .danmu .head img {
      width: 100%; }

.ab {
  position: absolute;
  top: 0;
  left: 0; }

body {
  background: url(../img/back.jpg) no-repeat left top;
  background-size: 100% 100%; }

/*# sourceMappingURL=game.css.map */
