#myGift{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    background: url(../img/mg03.jpg) no-repeat;
    background-size: 100% 100%;
    .jifen{
        position: absolute;
        width: 28.4%;
        right: 3.8%;
        top: 1.5%;
        >div{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: -webkit-flex;
            -webkit-align-items: center;
            -webkit-justify-content: center;  
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            p{
                width: 60%;
                font-size: 0.3rem;
                color: #f6d67d;
                margin-left: 22%;
                text-align: center;
            }
        }
        
        >img{
            width: 100%;
        }
    }
    .mg01{
        width: 42.4%;
        position: absolute;
        left: 28.8%;
        top: 11.6%;
        >img{
            width: 100%;
        }
    }
    .mg02{
        width: 85%;
        position: absolute;
        left: 7.5%;
        top: 26.1%;
        border-radius: 5px;
        border:1px solid #f8db82;
        height: 0.7rem;
        overflow: hidden;
        button{
            display: block;
            width: 50%;
            height: 100%;
            background-color: #ab3e28;
            color: #f8db82;
            font-size: 0.32rem;
            font-weight: bold;
        }
        .btnhas{
            background-color: #f8db82;
            color: #ab3e28;
        }
    }
    .mg03{
        position: absolute;
        left: 0;
        top: 19.49%;
        width: 100%;
        p{
            width: 100%;
            text-align: center;
            font-size: 0.24rem;
            color: #f8db81;
            text-indent: 0.1rem;
        }
    }
    .noGift{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: -webkit-flex;
        -webkit-align-items: center;
        -webkit-justify-content: center;
        >img{
            width: 60%;
        }
        p{
            font-size: 0.32rem;
            color: #f8db82;
            line-height: 0.5rem;
        }
    }
    .shopBox{
        width: 85%;
        position: absolute;
        left: 7.5%;
        top: 35.4%;
        height: 54%;
        overflow-y: scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        .shopChild{
            width: 100%;
            position: relative;
            margin-left: 1px;
            margin-bottom: 0.1rem;
            >img{
                width: 100%;
            }
            
        }
        .shopImg{
            position: absolute;
            top: 5.7%;
            left: 3%;
            width: 34.8%;
            height: 87%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: -webkit-flex;
            -webkit-align-items: center;
            -webkit-justify-content: center;
            >img{
                max-width: 90%;
                max-height: 90%;
            }
        }
        .stenBox{
            position: absolute;
            top: 5.7%;
            left: 43%;
            width: 40%;
            height: 87%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: -webkit-flex;
            -webkit-align-items: center;
            -webkit-justify-content: center;
            p{
                width: 100%;
                color: #c72d27;
                font-size: 0.22rem;
            }
            p:nth-child(1){
                font-size: 0.28rem;
                font-weight: bold;
                line-height: 0.5rem;
            }
        }
        button{
            position: absolute;
            top: 5.7%;
            right: 0%;
            width: 16%;
            height: 87%;
            display: block;
            opacity: 0;
        }
    }
    .giftBox{
        width: 85%;
        position: absolute;
        left: 7.5%;
        top: 35.4%;
        height: 54%;
        overflow-y: scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        .giftChild{
            width: 104%;
            position: relative;
            margin-left: -2%;
            >img{
                width: 100%;
            }
        }
        .imgBox{
            position: absolute;
            top: 5.5%;
            left: 3.2%;
            width: 25.64%;
            height: 75%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: -webkit-flex;
            -webkit-align-items: center;
            -webkit-justify-content: center;
            >img{
                max-width: 90%;
                max-height: 90%;
            }
        }
        .ctenBox{
            position: absolute;
            top: 5.5%;
            left: 33.5%;
            width: 40%;
            height: 75%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: -webkit-flex;
            -webkit-align-items: center;
            -webkit-justify-content: center;
            p{
                width: 100%;
                color: #c72d27;
            }
            p:nth-child(1){
                font-size: 0.28rem;
            }
            p:nth-child(2){
                font-size: 0.18rem;
            }
        }
        button{
            position: absolute;
            top: 5.5%;
            right: 2%;
            width: 22%;
            height: 75%;
            display: block;
            opacity: 0;
        }
    }
}
.rback {
    position: absolute;
    width: 19.2%;
    left: 3.8%;
    top: 1.5%;
    >input {
        display: block;
        border: 0;
        width: 100%;
    }
}
#myGift  .shopBox .hasShop .stenBox p{
    color: #948b6d;
}
.newPop{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    background-color: rgba(0,0,0,0.7);
}
.newPop7{
    width: 80%;
    position: relative;
    >img{
        width: 100%;
    }
    .np7Box{
        position: absolute;
        width: 100%;
        height: 67%;
        left: 0;
        top: 14%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: -webkit-flex;
        -webkit-align-items: center;
        -webkit-justify-content: center;
        >img{
            max-width: 50%;
            max-height: 70%;
        }
        p{
            text-align: center;
            font-size: 0.26rem;
            color: #f0e26f;
        }
    }
    button{
        position: absolute;
        top: 82%;
        left: 30%;
        width: 40%;
        height: 12%;
        opacity: 0;
    }
}
.newPop6{
    width: 80%;
    position: relative;
    >img{
        width: 100%;
    }
    button{
        position: absolute;
        top: 82%;
        left: 30%;
        width: 40%;
        height: 12%;
        opacity: 0;
    }
    .npNo{
        left: 52%;
    }
}
.newPop5{
    width: 80%;
    position: relative;
    >img{
        width: 100%;
    }
    button{
        position: absolute;
        top: 82%;
        left: 8%;
        width: 40%;
        height: 12%;
        opacity: 0;
    }
    .np5No{
        left: 52%;
    }
}
.newPop4{
    width: 80%;
    position: relative;
    
    >img{
        width: 100%;
    }
    input{
        position: absolute;
        top: 13.8%;
        left: 26%;
        height: 6.6%;
        width: 62%;
        border: 0;
        font-size: 0.26rem;
        background-color: transparent;
        color: #f0e26f;
        opacity: 0.8;
    }
    textarea{
        position: absolute;
        top: 47.5%;
        left: 37%;
        height: 12%;
        width: 52%;
        border: 0;
        font-size: 0.26rem;
        color: #f0e26f;
        resize: none;
        background-color: transparent;
    }
    
    input:nth-child(2){
        top: 24.6%;
    }
    input:nth-child(3){
        top: 35.4%;
        left: 31%;
    }
    textarea::-moz-placeholder{
        color: #f0e26f;
        opacity: 0.8;
    }
    textarea::-webkit-input-placeholder{
        color: #f0e26f;
        opacity: 0.8;
    }
    textarea::-ms-input-placeholder{
        color: #f0e26f;
        opacity: 0.8;
    }
    textarea:nth-child(5){
        left: 26%;
        top: 65.3%;
        width: 64%;
        height: 13%;
    }
    input::-moz-placeholder{
        color: #f0e26f;
        opacity: 0.8;
    }
    input::-webkit-input-placeholder{
        color: #f0e26f;
        opacity: 0.8;
    }
    input::-ms-input-placeholder{
        color: #f0e26f;
        opacity: 0.8;
    }
    button{
        position: absolute;
        top: 84.5%;
        left: 7%;
        width: 41%;
        height: 9%;
        opacity: 0;
    }
    .np4No{
        left: 52%;
    }
}
.newPop3{
    width: 80%;
    position: relative;
    
    >img{
        width: 100%;
    }
    input{
        position: absolute;
        top: 12.62%;
        left: 26%;
        height: 6.6%;
        width: 62%;
        border: 0;
        font-size: 0.26rem;
        background-color: transparent;
        color: #f0e26f;
        opacity: 0.8;
    }
    textarea{
        position: absolute;
        top: 44%;
        left: 37%;
        height: 12%;
        width: 52%;
        border: 0;
        font-size: 0.26rem;
        color: #f0e26f;
        resize: none;
        background-color: transparent;
    }
    
    input:nth-child(2){
        top: 22.45%;
    }
    input:nth-child(3){
        top: 32.48%;
        left: 31%;
    }
    textarea::-moz-placeholder{
        color: #f0e26f;
        opacity: 0.8;
    }
    textarea::-webkit-input-placeholder{
        color: #f0e26f;
        opacity: 0.8;
    }
    textarea::-ms-input-placeholder{
        color: #f0e26f;
        opacity: 0.8;
    }
    textarea:nth-child(5){
        left: 26%;
        top: 60.5%;
        width: 64%;
        height: 13%;
    }
    input::-moz-placeholder{
        color: #f0e26f;
        opacity: 0.8;
    }
    input::-webkit-input-placeholder{
        color: #f0e26f;
        opacity: 0.8;
    }
    input::-ms-input-placeholder{
        color: #f0e26f;
        opacity: 0.8;
    }
    button{
        position: absolute;
        top: 86%;
        left: 7%;
        width: 41%;
        height: 9%;
        opacity: 0;
    }
    .np3No{
        left: 52%;
    }
}
.newPop2{
    width: 80%;
    position: relative;
    >img{
        width: 100%;
    }
    button{
        position: absolute;
        top: 82%;
        left: 7%;
        width: 41%;
        height: 11%;
        opacity: 0;
    }
    .npNo{
        left: 52%;
    }
}
.newPop1{
    width: 80%;
    position: relative;
    >p{
        font-size: 0.24rem;
        color: #ecd68b;
        position: absolute;
        top: 26%;
        left: 26%;
    }
    >p:nth-child(1){
        top: 15.2%;
    }
    >p:nth-child(2){
        top: 26%;
    }
    >p:nth-child(3){
        top: 36.8%;
        left: 32%;
    }
    >p:nth-child(4){
        width: 53%;
        text-align: justify;
        top: 47.8%;
        left: 37%;
    }
    .msg{
        width: 63%;
        position: absolute;
        left: 27%;
        top: 65.54%;
        height: 13%;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        p{
            width: 100%;
            font-size: 0.24rem;
            color: #ecd68b;
            text-align: justify;
        }
    }
    >img{
        width: 100%;
    }
    button{
        position: absolute;
        width: 40%;
        height: 10%;
        top: 84%;
        left: 30%;
        opacity: 0;
    }
}
