#music {
    position: fixed;
    top: 5px;
    right: 5px;
    width: 32px;
    height: 32px;
    z-index: 1000;
    display: none;
}
*{
    font-family: "microsoft yahei";
}
body{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #bb2c26;
}
#homepage{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/home.jpg) no-repeat left top;
    background-size: 100% 100%;
    input{
        position: absolute;
        width: 42.13%;

        bottom: 8.25%;
    }
    .oldNew{
        left: 8%;
    }
    .look{
        right: 8%;
    }
}
.home1{
    width: 100%;
    margin-top: 33.36%;
    >img{
        width: 100%;
    }
}
.home2{
    width: 91.47%;
    position: absolute;
    left: 4.27%;
    top: 47.35%;
    >img{
        width: 100%;
    }
}
.home3{
    width: 48.4%;
    position: absolute;
    left: 46.27%;
    top: 40.07%;
    >img{
        width: 100%;
    }
}
.home4{
    width: 62.53%;
    position: absolute;
    left: 6.93%;
    top: 59.97%;
    >img{
        width: 100%;
    }
}
.home5{
    width:26.8%;
    position: absolute;
    left: 67.47%;
    top: 58.47%;
    >img{
        width: 100%;
    }
}
.homep{
    overflow: hidden;
    position: absolute;
    top: 67.62%;
    left: 0%;
    width: 100%;
    font-size: 0.28rem;
    color: #eddea6;
    text-align: center;
}
.home{
    display: none;
}
.flIn {
    width: 0%;
    margin-left: 50%;
    margin-top: 50%;
    overflow: hidden;
    animation: flb 1.5s linear;
    -moz-animation: flb 1.5s linear;
    -webkit-animation: flb 1.5s linear;
    -ms-animation: flb 1.5s linear;
    >img {
        width: 100%;
    }
}
.flower1{
    width: 19%;
    position: absolute;
    top: 21%;
    left: 2.5%;
    
}
.flower2{
    width: 15%;
    position: absolute;
    top: 10%;
    left: 33%;
}
.flower3{
    width: 12%;
    position: absolute;
    top: 19%;
    left: 67%;
}
@keyframes flb
{
   0% {opacity: 1;margin-left: 50%;width: 0%;margin-top: 50%;}
    80% {opacity: 1;width: 100%;margin-left: 0%;margin-top: 0%;}
    100% {opacity: 0;width: 100%;margin-left: 0%;margin-top: 0%;}
}

@-moz-keyframes flb
{
 0% {opacity: 1;margin-left: 50%;width: 0%;margin-top: 50%;}
    80% {opacity: 1;width: 100%;margin-left: 0%;margin-top: 0%;}
    100% {opacity: 0;width: 100%;margin-left: 0%;margin-top: 0%;}
}

@-webkit-keyframes flb 
{
   0% {opacity: 1;margin-left: 50%;width: 0%;margin-top: 50%;}
    80% {opacity: 1;width: 100%;margin-left: 0%;margin-top: 0%;}
    100% {opacity: 0;width: 100%;margin-left: 0%;margin-top: 0%;}
}
@-ms-keyframes flb
{
   0% {opacity: 1;margin-left: 50%;width: 0%;margin-top: 50%;}
    80% {opacity: 1;width: 100%;margin-left: 0%;margin-top: 0%;}
    100% {opacity: 0;width: 100%;margin-left: 0%;margin-top: 0%;}
}
.rback {
    position: absolute;
    width: 19.2%;
    left: 3.8%;
    top: 1.5%;
    >input {
        display: block;
        border: 0;
        width: 100%;
    }
}
#myCode{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: url(../img/back.jpg) no-repeat left top;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    .mc01{
        width: 45%;
        img{
            width: 100%;
        }
    }
    .mc02{
        width: 82%;
        margin-top: 0.3rem;
        position: relative;
        button{
            position: absolute;
            top: 10%;
            right: 8%;
            display: block;
            width: 24%;
            height: 25%;
            background-color: transparent;
            font-size: 0.3rem;
            font-weight: bold;
            p{
                margin-bottom: 0.28rem;
                color: #be2c27;
            }
        }
        .threeYuan{
            top: 55%;
        }
        img{
            width: 100%;
        }
    }
    .mc03{
        width: 77%;
        margin: 0 auto;
        margin-top: 0.1rem;
        p{
            font-size: 0.2rem;
            color: #f6d67d;
        }
        img{
            width: 100%;
        }
    }
    .shareBtn{
        width: 42%;
        margin-top: 0.3rem;
        input{
            display: block;
            width: 100%;
            border: 0;
        }
    }
}
#share{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background-color: rgba(0,0,0,0.75);
    .sa{
        width: 23%;
        position: absolute;
        top: 4%;
        right: 4%;
//      animation: ar 1.5s linear infinite;
//      -moz-animation: ar 1.5s linear infinite;
//      -webkit-animation: ar 1.5s linear infinite;
//      -ms-animation: ar 1.5s linear infinite;
        >img{
            width: 100%;
        }
    }
    .gift{
        width: 62%;
        margin: 0 auto;
        margin-top: 32%;
        img{
            width: 100%;
        }
    }
    .star{
        width: 36.67%;
        position: absolute;
        top: 17%;
        left: 17%;
        animation: bling 1s linear infinite;
        -moz-animation: bling 1s linear infinite;
        -webkit-animation: bling 1s linear infinite;
        -ms-animation: bling 1s linear infinite;
        >img{
            width: 100%;
        }
    }
}
@keyframes bling
{
   0% {opacity: 1;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}

@-moz-keyframes bling
{
 0% {opacity: 1;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}

@-webkit-keyframes bling 
{
   0% {opacity: 1;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}
@-ms-keyframes bling
{
   0% {opacity: 1;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}
@keyframes ar
{
   0% {top: 6%;right: 8%; transform: rotate(20deg);}
    50% {top: 4%;right: 4%; transform: rotate(0deg);}
    100% {top: 6%;right: 8%; transform: rotate(20deg);}
}

@-moz-keyframes ar
{
 0% {top: 6%;right: 8%; transform: rotate(20deg);}
    50% {top: 4%;right: 4%; transform: rotate(0deg);}
    100% {top: 6%;right: 8%; transform: rotate(20deg);}
}

@-webkit-keyframes ar 
{
    0% {top: 6%;right: 8%; transform: rotate(20deg);}
    50% {top: 4%;right: 4%; transform: rotate(0deg);}
    100% {top: 6%;right: 8%; transform: rotate(20deg);}
}
@-ms-keyframes ar
{
    0% {top: 6%;right: 8%; transform: rotate(20deg);}
    50% {top: 4%;right: 4%; transform: rotate(0deg);}
    100% {top: 6%;right: 8%; transform: rotate(20deg);}
}
#pop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    background-color: rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    .pop1{
        width: 74.67%;
        position: relative;
        >img{
            width: 100%;
        }
        button{
            position: absolute;
            top: 84%;
            left: 23.21%;
            height: 10.67%;
            width: 53.58%;
            opacity: 0;
        }
    }
    
    .pop3{
        width: 80.27%;
        position: relative;
        >img{
            width: 100%;
        }
        button{
           position: absolute;
            top: 82%;
            left: 30%;
            height: 12%;
            width: 40%;
            opacity: 0;
        }
        .popP{
            position: absolute;
            top: 61%;
            left: 10%;
            width: 80%;
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: -webkit-flex;
            -webkit-align-items: center;
            -webkit-justify-content: center;
            -webkit-flex-direction: column;
        }
        p{
            font-size: 0.22rem;
            color: #f6d67d;
            text-align: center;
        }
    }
    .pop4{
        width: 80.27%;
        position: relative;
        >img{
            width: 100%;
        }
        button{
            position: absolute;
            top: 82%;
            left: 30%;
            height: 12%;
            width: 40%;
            opacity: 0;
        }
        button:nth-child(1){
            left: 7.5%;
        }
        button:nth-child(2){
            left: 52%;
        }
    }
    .pop2,.pop5,.pop6{
        width: 80.27%;
        position: relative;
        >img{
            width: 100%;
        }
        button{
            position: absolute;
            top: 82%;
            left: 30%;
            height: 12%;
            width: 40%;
            opacity: 0;
        }
    }
}
#buyStep01{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: url(../img/back.jpg) no-repeat left top;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    .buystep01{
        width: 82.67%;
        margin: 0 auto;
        .bsTitle{
            width: 100%;
            >img{
                width: 100%;
            }
        }
        .nextBtn {
            width: 50%;
            margin: 0 auto;
            margin-top: 0.2rem;
            input {
                width: 100%;
                display: block;
            }
        }
        .inputBox{
            p{
                font-size: 0.26rem;
                color: #f1e26f;
                line-height: 0.6rem;
                width: 1.1rem;
                text-align-last: justify;
                position: relative;
            }
            p::after{
                content: ":";
                position: absolute;
                top: 0;
                line-height: 0.6rem;
                left: 105%;
            }
            input{
                width: 99%;
                margin: 0 auto;
                height: 0.7rem;
                display: block;
                background-color: rgba(0,0,0,0.5);
                border:1px solid #f1e26f;
                border-radius: 5px;
                font-size: 0.26rem;
                color: #f1e26f;
                text-indent: 0.2rem;
            }
            input::-moz-placeholder{
                color: #f1e36f;
                opacity: 0.8;
            }
            input::-webkit-input-placeholder{
                color: #f1e36f;
                opacity: 0.8;
            }
            input::-ms-input-placeholder{
                color: #f1e36f;
                opacity: 0.8;
            }
            
            .imageBox{
                margin-top: -0.1rem;
                .floatl{
                    width: 22%;
                    margin-right: 4%;
                    position: relative;
                    margin-top: 0.25rem;
                    
                    >img{
                        width: 100%;
                    }
                    input{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                    }
                    .imgIn{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        z-index: 4;
                        height: 100%;
                        overflow: hidden;
                        border-radius: 4px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        display: -webkit-flex;
                        -webkit-align-items: center;
                        -webkit-justify-content: center;
                        -webkit-flex-direction: column;
                        img{
                            width: 100%;
                        }
                    }
                    .imgIn+img{
                        opacity: 0;
                    }
                    button{
                        position: absolute;
                        top: -0.2rem;
                        right: -0.2rem;
                        width: 0.4rem;
                        height: 0.4rem;
                        z-index: 6;
                        background: url(../img/bf03.png) no-repeat left top;
                        background-size: 100% 100%;
                    }
                }
                .bsup{
                    margin-right: 0%;
                }
            }
        }
    }
}
#buyStep01 .buystep01 .inputBox .imageBox .floatl:nth-child(4n){
    margin-right: 0%;
}
#buyStep02{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: url(../img/back.jpg) no-repeat left top;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    .bt01{
        width: 47.33%;
        margin-bottom: 0.4rem;
        img{
            width: 100%;
        }
    }
    .bt02{
        width: 82.67%;
        position: relative;
        input{
            opacity: 0;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 1.6rem;
            height: 0.25rem;
        }
        img{
            width: 100%;
        }
    }
    .bt03{
        width: 82.67%;
        margin-top: 0.3rem;
        input{
            width: 49.375%;
        }
    }
}
#lookCode{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: url(../img/back.jpg) no-repeat left top;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    .lc01{
        width: 46%;
        >img{
            width: 100%;
        }
    }
    .lc02{
        width: 81.33%;
        margin: 0 auto;
        p{
            line-height: 0.7rem;
            color: #f0e26f;
            font-size: 0.24rem;
            width: 50%;
            text-align: center;
        }
    }
    .lc03{
        width: 84%;
        margin: 0 auto;
        .bsTitle{
            width: 100%;
            >img{
                width: 100%;
            }
        }
        .nextBtn {
            width: 50%;
            margin: 0 auto;
            input {
                width: 100%;
            }
        }
        .inputBox{
            background-color: rgba(0,0,0,0.3);
            border:1px solid #f1e26f;
            border-radius: 5px;
            position: relative;
            margin-bottom: 0.2rem;
            >p{
                font-size: 0.24rem;
                color: #f1e26f;
                line-height: 0.7rem;
                width: 33.33%;
                text-align: right;
                position: absolute;
                top: 1px;
                left: 0;
            }
            input{
                width: 99%;
                margin: 0 auto;
                height: 0.7rem;
                display: block;
                background-color: transparent;
                border: 0px;
                font-size: 0.26rem;
                color: #f1e26f;
                text-indent: 33.33%;
            }
            input::-moz-placeholder{
                color: #f1e36f;
                opacity: 0.8;
            }
            input::-webkit-input-placeholder{
                color: #f1e36f;
                opacity: 0.8;
            }
            input::-ms-input-placeholder{
                color: #f1e36f;
                opacity: 0.8;
            }
            .diss{
                width: 63%;
                margin-left: 33.33%;
                font-size: 0.24rem;
                color: #f1e26f;
                text-align: justify;
                min-height: 0.7rem;
                max-height: 1.1rem;
                overflow-y: scroll;
                -webkit-overflow-scrolling: touch;
                >p{
                    margin-top: 1px;
                    padding: 0.15rem 0;
                    line-height: 0.4rem;
                }
            }
            .imageBox{
                margin-left: 33.33%;
                padding: 0.25rem 0 0.05rem;
                .floatl{
                    width: 30%;
                    margin-left: 1%;
                    position: relative;
                    margin-bottom: 0.2rem;
                    border-radius: 4px;
                    overflow: hidden;
                    >img{
                        width: 100%;
                    }
                    >img:nth-child(1){
                        opacity: 0;
                    }
                    >img:nth-child(2){
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
                .floatl:nth-child(3n+2)
                {
                    margin-left: 2%;
                }
                .floatl:nth-child(3n)
                {
                    margin-left: 2%;
                }
            }
        }
    }
}
#suggestion{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: url(../img/back.jpg) no-repeat left top;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    .sg01{
        width: 18.67%;
        >img{
            width: 100%;
        }
    }
    .sg02{
        width: 84%;
        margin: 0 auto;
        margin-top: 0.5rem;
        .bsTitle{
            width: 100%;
            >img{
                width: 100%;
            }
        }
        .nextBtn {
            width: 50%;
            margin: 0 auto;
            margin-top: 0.5rem;
            input{
                display: block;
                width: 100%;
            }
        }
        .inputBox{
            background-color: rgba(0,0,0,0.3);
            border:1px solid #f1e26f;
            border-radius: 5px;
            position: relative;
            margin-bottom: 0.2rem;
            >p{
                font-size: 0.24rem;
                color: #f1e26f;
                line-height: 0.7rem;
                width: 33.33%;
                text-align: center;
                position: absolute;
                top: 1px;
                text-indent: 0.05rem;
                left: 0;
            }
            .starBox{
                width: 63%;
                margin-left: 33.33%;
                height: 0.7rem;
                >img{
                    margin-top: 0.1rem;
                    height: 0.5rem;
                    margin-right: 2%;
                }
            }
            .sgtext{
                width: 63%;
                margin-left: 33.33%;
                
                textarea{
                    display: block;
                    width: 100%;
                    margin-top: 1px;
                    padding: 0.15rem 0;
                    height: 1.2rem;
                    line-height: 0.4rem;
                    text-align: justify;
                    border: 0;
                    font-size: 0.24rem;
                    color: #f1e26f;
                    background-color: transparent;
                }
                textarea::-moz-placeholder{
                    color: #f1e36f;
                    opacity: 0.8;
                }
                textarea::-webkit-input-placeholder{
                    color: #f1e36f;
                    opacity: 0.8;
                }
                textarea::-ms-input-placeholder{
                    color: #f1e36f;
                    opacity: 0.8;
                }
            }
            .imageBox{
                margin-left: 33.33%;
                padding: 0.2rem 0 0;
                .floatl{
                    width: 26%;
                    margin-right: 5%;
                    position: relative;
                    margin-bottom: 0.2rem;
                    img{
                        width: 100%;
                    }
                    >img:nth-child(1){
                        opacity: 0;
                    }
                    .setIn{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border-radius: 4px;
                        overflow: hidden;
                    }
                    input{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                    }
                    button{
                        position: absolute;
                        top: -0.2rem;
                        right: -0.2rem;
                        width: 0.4rem;
                        height: 0.4rem;
                        z-index: 6;
                        background: url(../img/bf03.png) no-repeat left top;
                        background-size: 100% 100%;
                    }
                }
                .floatl:nth-child(3){
                    margin-right: 0%;
                }
                .sgup{
                    margin-right: 0;
                   >img:nth-child(1){
                        opacity: 1;
                    } 
                }
                .floatl:nth-child(3n+2)
                {
                    margin-left: 2%;
                }
                .floatl:nth-child(3n)
                {
                    margin-left: 2%;
                }
            }
        }
    }
}
#suggestSuccess{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: url(../img/sg05.jpg) no-repeat left top;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    .ssBox{
        width: 43.73%;
        position: relative;
        >img{
            width: 100%;
        }
        .star{
            width: 106.4%;
            position: absolute;
            top: -3%;
            left:0%;
            animation: bling 1s linear infinite;
            -moz-animation: bling 1s linear infinite;
            -webkit-animation: bling 1s linear infinite;
            -ms-animation: bling 1s linear infinite;
            >img{
                width: 100%;
            }
        }
        button{
            position: absolute;
            bottom: 0;
            left: 6%;
            width: 92%;
            height: 17%;
            opacity: 0;
        }
    }
}
#use1{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: url(../img/back.jpg) no-repeat left top;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    .use101{
        width: 65.2%;
        margin-bottom: 0.5rem;
        >img{
            width: 100%;
        }
    }
    .use102{
        width: 84%;
        margin: 0 auto;
        .bsTitle{
            width: 100%;
            >img{
                width: 100%;
            }
        }
        .nextBtn {
            width: 50%;
            margin: 0 auto;
            margin-top: 0.5rem;
            input {
                width: 100%;
                display: block;
            }
        }
        .inputBox{
            background-color: rgba(0,0,0,0.3);
            border:1px solid #f1e26f;
            border-radius: 5px;
            position: relative;
            margin-bottom: 0.2rem;
            >p{
                font-size: 0.24rem;
                color: #f1e26f;
                line-height: 0.7rem;
                width: 20.33%;
                text-align-last: justify;
                position: absolute;
                top: 1px;
                left: 6.5%;
            }
            p::after{
                content: ":";
                position: absolute;
                top: 0;
                line-height: 0.7rem;
                left: 105%;
            }
            input{
                width: 99%;
                margin: 0 auto;
                height: 0.7rem;
                display: block;
                background-color: transparent;
                border: 0px;
                font-size: 0.26rem;
                color: #f1e26f;
                text-indent: 33.33%;
            }
            input::-moz-placeholder{
                color: #f1e36f;
                opacity: 0.8;
            }
            input::-webkit-input-placeholder{
                color: #f1e36f;
                opacity: 0.8;
            }
            input::-ms-input-placeholder{
                color: #f1e36f;
                opacity: 0.8;
            }
            .imageBox{
                margin-left: 33.33%;
                padding: 0.25rem 0 0.05rem;
                .floatl{
                    width: 30%;
                    margin-left: 1%;
                    position: relative;
                    margin-bottom: 0.2rem;
                    border-radius: 4px;
                    overflow: hidden;
                    >img{
                        width: 100%;
                    }
                    >img:nth-child(1){
                        opacity: 0;
                    }
                    >img:nth-child(2){
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
                .floatl:nth-child(3n+2)
                {
                    margin-left: 2%;
                }
                .floatl:nth-child(3n)
                {
                    margin-left: 2%;
                }
            }
        }
    }
}
#use2{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    .use2{
        width: 99.73%;
        margin-bottom: 1rem;
        position: relative;
        >img{
            width: 100%;
        }
        .star{
            width: 61.76%;
            position: absolute;
            left:19%;
            top: 34%;
            animation: bling 1s linear infinite;
            -moz-animation: bling 1s linear infinite;
            -webkit-animation: bling 1s linear infinite;
            -ms-animation: bling 1s linear infinite;
            >img{
                width: 100%;
            }
        }
        button{
            position: absolute;
            width: 32.64%;
            height: 9%;
            left: 16%;
            display: block;
            bottom: 10.5%;
            opacity: 0;
        }
        .usNo{
            left: 52%;
        }
    }
}
#use3{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: url(../img/back.jpg) no-repeat left top;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    .useTip {
        text-align: center;
        font-size: 0.22rem;
        color: #f1e26f;
        line-height: 0.8rem;
    }
    .use3{
        width: 84%;
        margin: 0 auto;
        .usTitle{
            width: 51.76%;
            margin: 0 auto;
            >img{
                width: 100%;
            }
        }
        .twoUse{
            margin-top: 0.5rem;
            width: 100%;
            border:1px solid #f1e26f;
            border-radius: 5px;
            padding: 0.35rem 0;
            p{
                font-size: 0.36rem;
                color:  #f1e26f;
                line-height: 0.6rem;
                text-indent: 0.4rem;
            }
        }
        .nextBtn {
            width: 50%;
            margin: 0 auto;
            margin-top: 0.5rem;
            input {
                width: 100%;
                display: block;
            }
        }
        
        .inputBox{
            p{
                font-size: 0.26rem;
                color: #f1e26f;
                line-height: 0.6rem;
            }
            input{
                width: 99%;
                margin: 0 auto;
                height: 0.7rem;
                display: block;
                background-color: rgba(0,0,0,0.5);
                border:1px solid #f1e26f;
                border-radius: 5px;
                font-size: 0.26rem;
                color: #f1e26f;
                text-indent: 0.2rem;
            }
            input::-moz-placeholder{
                color: #f1e36f;
                opacity: 0.8;
            }
            input::-webkit-input-placeholder{
                color: #f1e36f;
                opacity: 0.8;
            }
            input::-ms-input-placeholder{
                color: #f1e36f;
                opacity: 0.8;
            }
        }
    }
}
#use4{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: url(../img/sg05.jpg) no-repeat left top;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    .use4{
        width: 70%;
        position: relative;
        >img{
            width: 100%;
        }
        .star{
            width: 108%;
            position: absolute;
            left: -8%;
            top: -11%;
            animation: bling 1s linear infinite;
            -moz-animation: bling 1s linear infinite;
            -webkit-animation: bling 1s linear infinite;
            -ms-animation: bling 1s linear infinite;
            >img{
                width: 100%;
            }
        }
        button{
            position: absolute;
            width: 57%;
            height: 17%;
            left: 19%;
            display: block;
            bottom: 3.5%;
            opacity: 0;
        }
    }
}
#popLoading{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    background-color: rgba(0,0,0,0.5);
    >img{
        width: 10%;
    }
}
#imgBig{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    background-color: rgba(0,0,0,0.5);
    >img{
        width: 100%;
    }
}
#myGift{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    background: url(../img/mg03.jpg) no-repeat;
    background-size: 100% 100%;
    .jifen{
        position: absolute;
        width: 28.4%;
        right: 3.8%;
        top: 1.5%;
        >div{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: -webkit-flex;
            -webkit-align-items: center;
            -webkit-justify-content: center;  
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            p{
                width: 60%;
                font-size: 0.3rem;
                color: #f6d67d;
                margin-left: 22%;
                text-align: center;
            }
        }
        
        >img{
            width: 100%;
        }
    }
    .mg01{
        width: 42.4%;
        position: absolute;
        left: 28.8%;
        top: 11.6%;
        >img{
            width: 100%;
        }
    }
    .mg02{
        width: 85%;
        position: absolute;
        left: 7.5%;
        top: 26.1%;
        border-radius: 5px;
        border:1px solid #f8db82;
        height: 0.7rem;
        overflow: hidden;
        button{
            display: block;
            width: 50%;
            height: 100%;
            background-color: #ab3e28;
            color: #f8db82;
            font-size: 0.32rem;
            font-weight: bold;
        }
        .btnhas{
            background-color: #f8db82;
            color: #ab3e28;
        }
    }
    .mg03{
        position: absolute;
        left: 0;
        top: 19.49%;
        width: 100%;
        p{
            width: 100%;
            text-align: center;
            font-size: 0.24rem;
            color: #f8db81;
            text-indent: 0.1rem;
        }
    }
    .noGift{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: -webkit-flex;
        -webkit-align-items: center;
        -webkit-justify-content: center;
        >img{
            width: 60%;
        }
        p{
            font-size: 0.32rem;
            color: #f8db82;
            line-height: 0.5rem;
        }
    }
    .shopBox{
        width: 85%;
        position: absolute;
        left: 7.5%;
        top: 35.4%;
        height: 54%;
        overflow-y: scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        .shopChild{
            width: 100%;
            position: relative;
            margin-left: 1px;
            margin-bottom: 0.1rem;
            >img{
                width: 100%;
            }
            
        }
        .shopImg{
            position: absolute;
            top: 5.7%;
            left: 3%;
            width: 34.8%;
            height: 87%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: -webkit-flex;
            -webkit-align-items: center;
            -webkit-justify-content: center;
            >img{
                max-width: 90%;
                max-height: 90%;
            }
        }
        .stenBox{
            position: absolute;
            top: 5.7%;
            left: 43%;
            width: 40%;
            height: 87%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: -webkit-flex;
            -webkit-align-items: center;
            -webkit-justify-content: center;
            p{
                width: 100%;
                color: #c72d27;
                font-size: 0.22rem;
            }
            p:nth-child(1){
                font-size: 0.28rem;
                font-weight: bold;
                line-height: 0.5rem;
            }
        }
        button{
            position: absolute;
            top: 5.7%;
            right: 0%;
            width: 16%;
            height: 87%;
            display: block;
            opacity: 0;
        }
    }
    .giftBox{
        width: 85%;
        position: absolute;
        left: 7.5%;
        top: 35.4%;
        height: 54%;
        overflow-y: scroll;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        .giftChild{
            width: 104%;
            position: relative;
            margin-left: -2%;
            >img{
                width: 100%;
            }
        }
        .imgBox{
            position: absolute;
            top: 5.5%;
            left: 3.2%;
            width: 25.64%;
            height: 75%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: -webkit-flex;
            -webkit-align-items: center;
            -webkit-justify-content: center;
            >img{
                max-width: 90%;
                max-height: 90%;
            }
        }
        .ctenBox{
            position: absolute;
            top: 5.5%;
            left: 33.5%;
            width: 40%;
            height: 75%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: -webkit-flex;
            -webkit-align-items: center;
            -webkit-justify-content: center;
            p{
                width: 100%;
                color: #c72d27;
            }
            p:nth-child(1){
                font-size: 0.28rem;
            }
            p:nth-child(2){
                font-size: 0.18rem;
            }
        }
        button{
            position: absolute;
            top: 5.5%;
            right: 2%;
            width: 22%;
            height: 75%;
            display: block;
            opacity: 0;
        }
    }
}
#myGift  .shopBox .hasShop .stenBox p{
    color: #948b6d;
}
.newPop{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    background-color: rgba(0,0,0,0.7);
}
.newPop7{
    width: 80%;
    position: relative;
    >img{
        width: 100%;
    }
    .np7Box{
        position: absolute;
        width: 100%;
        height: 67%;
        left: 0;
        top: 14%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: -webkit-flex;
        -webkit-align-items: center;
        -webkit-justify-content: center;
        >img{
            max-width: 50%;
            max-height: 70%;
        }
        p{
            text-align: center;
            font-size: 0.26rem;
            color: #f0e26f;
        }
    }
    button{
        position: absolute;
        top: 82%;
        left: 30%;
        width: 40%;
        height: 12%;
        opacity: 0;
    }
}
.newPop6{
    width: 80%;
    position: relative;
    >img{
        width: 100%;
    }
    button{
        position: absolute;
        top: 82%;
        left: 30%;
        width: 40%;
        height: 12%;
        opacity: 0;
    }
    .npNo{
        left: 52%;
    }
}
.newPop5{
    width: 80%;
    position: relative;
    >img{
        width: 100%;
    }
    button{
        position: absolute;
        top: 82%;
        left: 8%;
        width: 40%;
        height: 12%;
        opacity: 0;
    }
    .np5No{
        left: 52%;
    }
}
.newPop4{
    width: 80%;
    position: relative;
    
    >img{
        width: 100%;
    }
    input{
        position: absolute;
        top: 13.8%;
        left: 26%;
        height: 6.6%;
        width: 62%;
        border: 0;
        font-size: 0.26rem;
        background-color: transparent;
        color: #f0e26f;
        opacity: 0.8;
    }
    textarea{
        position: absolute;
        top: 47.5%;
        left: 37%;
        height: 12%;
        width: 52%;
        border: 0;
        font-size: 0.26rem;
        color: #f0e26f;
        resize: none;
        background-color: transparent;
    }
    
    input:nth-child(2){
        top: 24.6%;
    }
    input:nth-child(3){
        top: 35.4%;
        left: 31%;
    }
    textarea::-moz-placeholder{
        color: #f0e26f;
        opacity: 0.8;
    }
    textarea::-webkit-input-placeholder{
        color: #f0e26f;
        opacity: 0.8;
    }
    textarea::-ms-input-placeholder{
        color: #f0e26f;
        opacity: 0.8;
    }
    textarea:nth-child(5){
        left: 26%;
        top: 65.3%;
        width: 64%;
        height: 13%;
    }
    input::-moz-placeholder{
        color: #f0e26f;
        opacity: 0.8;
    }
    input::-webkit-input-placeholder{
        color: #f0e26f;
        opacity: 0.8;
    }
    input::-ms-input-placeholder{
        color: #f0e26f;
        opacity: 0.8;
    }
    button{
        position: absolute;
        top: 84.5%;
        left: 7%;
        width: 41%;
        height: 9%;
        opacity: 0;
    }
    .np4No{
        left: 52%;
    }
}
.newPop3{
    width: 80%;
    position: relative;
    
    >img{
        width: 100%;
    }
    input{
        position: absolute;
        top: 12.62%;
        left: 26%;
        height: 6.6%;
        width: 62%;
        border: 0;
        font-size: 0.26rem;
        background-color: transparent;
        color: #f0e26f;
        opacity: 0.8;
    }
    textarea{
        position: absolute;
        top: 43.5%;
        left: 37%;
        height: 12%;
        width: 52%;
        border: 0;
        font-size: 0.26rem;
        color: #f0e26f;
        resize: none;
        background-color: transparent;
    }
    
    input:nth-child(2){
        top: 22.45%;
    }
    input:nth-child(3){
        top: 32.48%;
        left: 31%;
    }
    textarea::-moz-placeholder{
        color: #f0e26f;
        opacity: 0.8;
    }
    textarea::-webkit-input-placeholder{
        color: #f0e26f;
        opacity: 0.8;
    }
    textarea::-ms-input-placeholder{
        color: #f0e26f;
        opacity: 0.8;
    }
    textarea:nth-child(5){
        left: 26%;
        top: 60%;
        width: 64%;
        height: 13%;
    }
    input::-moz-placeholder{
        color: #f0e26f;
        opacity: 0.8;
    }
    input::-webkit-input-placeholder{
        color: #f0e26f;
        opacity: 0.8;
    }
    input::-ms-input-placeholder{
        color: #f0e26f;
        opacity: 0.8;
    }
    button{
        position: absolute;
        top: 86%;
        left: 7%;
        width: 41%;
        height: 9%;
        opacity: 0;
    }
    .np3No{
        left: 52%;
    }
}
.newPop2{
    width: 80%;
    position: relative;
    >img{
        width: 100%;
    }
    button{
        position: absolute;
        top: 82%;
        left: 7%;
        width: 41%;
        height: 11%;
        opacity: 0;
    }
    .npNo{
        left: 52%;
    }
}
.newPop1{
    width: 80%;
    position: relative;
    >p{
        font-size: 0.24rem;
        color: #ecd68b;
        position: absolute;
        top: 26%;
        left: 26%;
    }
    >p:nth-child(1){
        top: 15.2%;
    }
    >p:nth-child(2){
        top: 26%;
    }
    >p:nth-child(3){
        top: 36.8%;
        left: 32%;
    }
    >p:nth-child(4){
        width: 53%;
        text-align: justify;
        top: 47.8%;
        left: 37%;
    }
    .msg{
        width: 63%;
        position: absolute;
        left: 27%;
        top: 65.54%;
        height: 13%;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        p{
            width: 100%;
            font-size: 0.24rem;
            color: #ecd68b;
            text-align: justify;
        }
    }
    >img{
        width: 100%;
    }
    button{
        position: absolute;
        width: 40%;
        height: 10%;
        top: 84%;
        left: 30%;
        opacity: 0;
    }
}
