#music {
    position: fixed;
    top: 5px;
    right: 5px;
    width: 32px;
    height: 32px;
    z-index: 1000;
    display: none;
}
*{
    font-family: "微软雅黑";
}
body{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #bb2c26;
}
#homepage{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/home.jpg) no-repeat left top;
    background-size: 100% 100%;
    input{
        position: absolute;
        width: 42.13%;

        bottom: 8.25%;
    }
    .oldNew{
        left: 8%;
    }
    .look{
        right: 8%;
    }
}
.home1{
    width: 100%;
    margin-top: 33.36%;
    >img{
        width: 100%;
    }
}
.home2{
    width: 91.47%;
    position: absolute;
    left: 4.27%;
    top: 47.35%;
    >img{
        width: 100%;
    }
}
.home3{
    width: 48.4%;
    position: absolute;
    left: 46.27%;
    top: 40.07%;
    >img{
        width: 100%;
    }
}
.home4{
    width: 62.53%;
    position: absolute;
    left: 6.93%;
    top: 59.97%;
    >img{
        width: 100%;
    }
}
.home5{
    width:26.8%;
    position: absolute;
    left: 67.47%;
    top: 58.47%;
    >img{
        width: 100%;
    }
}
.homep{
    overflow: hidden;
    position: absolute;
    top: 67.62%;
    left: 0%;
    width: 100%;
    font-size: 0.28rem;
    color: #eddea6;
    text-align: center;
}
.home{
    display: none;
}
.flIn {
    width: 0%;
    margin-left: 50%;
    margin-top: 50%;
    overflow: hidden;
    animation: flb 1.5s linear;
    -moz-animation: flb 1.5s linear;
    -webkit-animation: flb 1.5s linear;
    -ms-animation: flb 1.5s linear;
    >img {
        width: 100%;
    }
}
.flower1{
    width: 19%;
    position: absolute;
    top: 21%;
    left: 2.5%;
    
}
.flower2{
    width: 15%;
    position: absolute;
    top: 10%;
    left: 33%;
}
.flower3{
    width: 12%;
    position: absolute;
    top: 19%;
    left: 67%;
}
@keyframes flb
{
   0% {opacity: 1;margin-left: 50%;width: 0%;margin-top: 50%;}
    80% {opacity: 1;width: 100%;margin-left: 0%;margin-top: 0%;}
    100% {opacity: 0;width: 100%;margin-left: 0%;margin-top: 0%;}
}

@-moz-keyframes flb
{
 0% {opacity: 1;margin-left: 50%;width: 0%;margin-top: 50%;}
    80% {opacity: 1;width: 100%;margin-left: 0%;margin-top: 0%;}
    100% {opacity: 0;width: 100%;margin-left: 0%;margin-top: 0%;}
}

@-webkit-keyframes flb 
{
   0% {opacity: 1;margin-left: 50%;width: 0%;margin-top: 50%;}
    80% {opacity: 1;width: 100%;margin-left: 0%;margin-top: 0%;}
    100% {opacity: 0;width: 100%;margin-left: 0%;margin-top: 0%;}
}
@-ms-keyframes flb
{
   0% {opacity: 1;margin-left: 50%;width: 0%;margin-top: 50%;}
    80% {opacity: 1;width: 100%;margin-left: 0%;margin-top: 0%;}
    100% {opacity: 0;width: 100%;margin-left: 0%;margin-top: 0%;}
}
.rback {
    position: absolute;
    width: 19.2%;
    left: 3.8%;
    top: 1.5%;
    >input {
        display: block;
        border: 0;
        width: 100%;
    }
}
#myCode{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: url(../img/back.jpg) no-repeat left top;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    .mc01{
        width: 45%;
        img{
            width: 100%;
        }
    }
    .mc02{
        width: 82%;
        margin-top: 0.3rem;
        position: relative;
        button{
            position: absolute;
            top: 10%;
            right: 8%;
            display: block;
            width: 24%;
            height: 25%;
            background-color: transparent;
            font-size: 0.3rem;
            font-weight: bold;
            p{
                margin-bottom: 0.28rem;
                color: #be2c27;
            }
        }
        .threeYuan{
            top: 55%;
        }
        img{
            width: 100%;
        }
    }
    .mc03{
        width: 77%;
        margin: 0 auto;
        margin-top: 0.1rem;
        p{
            font-size: 0.2rem;
            color: #f6d67d;
        }
        img{
            width: 100%;
        }
    }
    .shareBtn{
        width: 42%;
        margin-top: 0.3rem;
        input{
            display: block;
            width: 100%;
            border: 0;
        }
    }
}
#share{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background-color: rgba(0,0,0,0.75);
    .sa{
        width: 23%;
        position: absolute;
        top: 4%;
        right: 4%;
//      animation: ar 1.5s linear infinite;
//      -moz-animation: ar 1.5s linear infinite;
//      -webkit-animation: ar 1.5s linear infinite;
//      -ms-animation: ar 1.5s linear infinite;
        >img{
            width: 100%;
        }
    }
    .gift{
        width: 62%;
        margin: 0 auto;
        margin-top: 32%;
        img{
            width: 100%;
        }
    }
    .star{
        width: 36.67%;
        position: absolute;
        top: 17%;
        left: 17%;
        animation: bling 1s linear infinite;
        -moz-animation: bling 1s linear infinite;
        -webkit-animation: bling 1s linear infinite;
        -ms-animation: bling 1s linear infinite;
        >img{
            width: 100%;
        }
    }
}
@keyframes bling
{
   0% {opacity: 1;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}

@-moz-keyframes bling
{
 0% {opacity: 1;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}

@-webkit-keyframes bling 
{
   0% {opacity: 1;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}
@-ms-keyframes bling
{
   0% {opacity: 1;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}
@keyframes ar
{
   0% {top: 6%;right: 8%; transform: rotate(20deg);}
    50% {top: 4%;right: 4%; transform: rotate(0deg);}
    100% {top: 6%;right: 8%; transform: rotate(20deg);}
}

@-moz-keyframes ar
{
 0% {top: 6%;right: 8%; transform: rotate(20deg);}
    50% {top: 4%;right: 4%; transform: rotate(0deg);}
    100% {top: 6%;right: 8%; transform: rotate(20deg);}
}

@-webkit-keyframes ar 
{
    0% {top: 6%;right: 8%; transform: rotate(20deg);}
    50% {top: 4%;right: 4%; transform: rotate(0deg);}
    100% {top: 6%;right: 8%; transform: rotate(20deg);}
}
@-ms-keyframes ar
{
    0% {top: 6%;right: 8%; transform: rotate(20deg);}
    50% {top: 4%;right: 4%; transform: rotate(0deg);}
    100% {top: 6%;right: 8%; transform: rotate(20deg);}
}
#pop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    background-color: rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    .pop1{
        width: 74.67%;
        position: relative;
        >img{
            width: 100%;
        }
        button{
            position: absolute;
            top: 84%;
            left: 23.21%;
            height: 10.67%;
            width: 53.58%;
            opacity: 0;
        }
    }
    
    .pop3{
        width: 80.27%;
        position: relative;
        >img{
            width: 100%;
        }
        button{
           position: absolute;
            top: 82%;
            left: 30%;
            height: 12%;
            width: 40%;
            opacity: 0;
        }
        .popP{
            position: absolute;
            top: 61%;
            left: 10%;
            width: 80%;
            height: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: -webkit-flex;
            -webkit-align-items: center;
            -webkit-justify-content: center;
            -webkit-flex-direction: column;
        }
        p{
            font-size: 0.22rem;
            color: #f6d67d;
            text-align: center;
        }
    }
    .pop4{
        width: 80.27%;
        position: relative;
        >img{
            width: 100%;
        }
        button{
            position: absolute;
            top: 82%;
            left: 30%;
            height: 12%;
            width: 40%;
            opacity: 0;
        }
        button:nth-child(1){
            left: 7.5%;
        }
        button:nth-child(2){
            left: 52%;
        }
    }
    .pop2,.pop5,.pop6{
        width: 80.27%;
        position: relative;
        >img{
            width: 100%;
        }
        button{
            position: absolute;
            top: 82%;
            left: 30%;
            height: 12%;
            width: 40%;
            opacity: 0;
        }
    }
}
#buyStep01{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: url(../img/back.jpg) no-repeat left top;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-direction: column;
    .buystep01{
        width: 82.67%;
        margin: 0 auto;
        .bsTitle{
            width: 100%;
            >img{
                width: 100%;
            }
        }
        .nextBtn {
            width: 50%;
            margin: 0 auto;
            input {
                width: 100%;
            }
        }
        .inputBox{
            p{
                font-size: 0.26rem;
                color: #f1e26f;
                line-height: 0.6rem;
                width: 1.1rem;
                text-align-last: justify;
                position: relative;
            }
            p::after{
                content: ":";
                position: absolute;
                top: 0;
                line-height: 0.6rem;
                left: 105%;
            }
            input{
                width: 99%;
                margin: 0 auto;
                height: 0.7rem;
                display: block;
                background-color: rgba(0,0,0,0.5);
                border:1px solid #f1e26f;
                border-radius: 5px;
                font-size: 0.26rem;
                color: #f1e26f;
                text-indent: 0.2rem;
            }
            input::-moz-placeholder{
                color: #f1e36f;
                opacity: 0.8;
            }
            input::-webkit-input-placeholder{
                color: #f1e36f;
                opacity: 0.8;
            }
            input::-ms-input-placeholder{
                color: #f1e36f;
                opacity: 0.8;
            }
            
            .imageBox{
                margin-top: 0.1rem;
                .floatl{
                    width: 22%;
                    margin-right: 4%;
                    position: relative;
                    >img{
                        width: 100%;
                    }
                    input{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                    }
                    .imgIn{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        border-radius: 4px;
                        img{
                            width: 100%;
                        }
                    }
                    button{
                        position: absolute;
                        top: -0.2rem;
                        right: -0.2rem;
                        width: 0.4rem;
                        height: 0.4rem;
                        background: url(../img/bf03.png) no-repeat left top;
                        background-size: 100% 100%;
                    }
                }
                .floatl:nth-last-child(2){
                    margin-right: 0%;
                }
            }
        }
    }
}
